@page
@using D100EZNPC.Utilities;
@model D100EZNPC.Pages.NPCDetailsModel
@section Scripts {

	<!-- Ensures scroll position remains on page load -->
	<script>
		window.addEventListener('load', function () 
		{
			const maxVerticalScroll = Math.max(
				document.documentElement.scrollHeight, document.body.scrollHeight
			) - window.innerHeight;

			const scrollTo = Math.min(maxVerticalScroll, @Model.ScrollPosition);

			window.scrollTo({
				top: scrollTo,
				left: 0,
				behavior: 'instant',
			});
		})
	</script>
	<script src="/js/NPCDetails.js"></script>
}

@{
	<h1>@Model.npc!.Name</h1>
}
@await Html.PartialAsync("_SkillLists")

<table class="table mt-5">
	<thead>
		<tr>
			<th>Primary Competence</th>
			<th>Secondary Competence</th>
			<th>Base Competence</th>
		</tr>
		<tr>
			<form method="post" asp-page-handler="UpdateSkillLevels" asp-route-id="@Model.npc.Id">
			<th><input type="text" asp-for="npc.PrimaryCompetence" placeholder="@Model.npc.PrimaryCompetence"></th>
			<th><input type="text" asp-for="npc.SecondaryCompetence" placeholder="@Model.npc.SecondaryCompetence"></th>
			<th><input type="text" asp-for="npc.BaseCompetence" placeholder="@Model.npc.BaseCompetence"></th>
			<th><button class="btn btn-primary" type="submit">Update Skill Levels</button></th>
			</form>
		</tr>
		<tr>
			@{
				int[] skillVals = { Model.npc.PrimaryCompetence, Model.npc.SecondaryCompetence, Model.npc.BaseCompetence };
			}
			@for (int i = 0; i < skillVals.Length; i++)
			{
				<td>
					<div>
						Very Easy &lt;= @SkillCalculator.VeryEasy(skillVals[i]) <br />
						Easy &lt;= @SkillCalculator.Easy(skillVals[i]) <br />
						Standard &lt;= @skillVals[i] <br />
						Hard &lt;= @SkillCalculator.Hard(skillVals[i]) <br />
						Herculean &lt;= @SkillCalculator.Herculean(skillVals[i])
					</div>
				</td>
			}
			<td>
				<button id="rollSkill" class="btn btn-success">Roll (TODO)</button><!--TODO-->
			</td>
		</tr>
	</thead>
	<form id="skillForm" method="post">
		<input type="hidden" asp-for="ScrollPosition" id="scrollPosition" name="ScrollPosition" value="" />
	<tbody>
			@{
				int longestSkillList = Math.Max(
				Model.npc.PrimarySkills.Count,
				Math.Max(Model.npc.SecondarySkills.Count,
				Model.npc.BaseSkills.Count));
			}
			@for (int i = 0; i < longestSkillList; i++)
			{
			<tr>
					@if (Model.npc.PrimarySkills.Count > i)
					{
					<td><button class="btn-skill" type="submit" asp-page-handler="CycleSkillLevel" asp-route-id="@Model.npc.Id" asp-route-SkillName="@Model.npc.PrimarySkills[i]">@Model.npc.PrimarySkills[i]</button></td>
					}
					else
					{
					<td></td>
					}
					@if (Model.npc.SecondarySkills.Count > i)
					{
					<td><button class="btn-skill" type="submit" asp-page-handler="CycleSkillLevel" asp-route-id="@Model.npc.Id" asp-route-SkillName="@Model.npc.SecondarySkills[i]">@Model.npc.SecondarySkills[i]</button></td>
					}
					else
					{
					<td></td>
					}
					@if (Model.npc.BaseSkills.Count > i)
					{
					<td><button class="btn-skill" type="submit" asp-page-handler="CycleSkillLevel" asp-route-id="@Model.npc.Id" asp-route-SkillName="@Model.npc.BaseSkills[i]">@Model.npc.BaseSkills[i]</button></td>
					}
					else
					{
					<td></td>
					}
			</tr>
			}
	</tbody>
	</form>

</table>




