@page
@using D100EZNPC.Models;
@using D100EZNPC.Utilities;
@model D100EZNPC.Pages.NPCDetailsModel
@Html.AntiForgeryToken()

<div>
	<h1>
		@Model.npc!.Name
		<button id="edit-btn" class="btn">
			<i class="fa-regular fa-pen-to-square"></i>
		</button>
		<button id="save-btn" class="btn" type="submit" form="competence-form">
			<i class="fa-regular fa-floppy-disk"></i>
		</button>
	</h1>
</div>

<div>
	<!-- Toggle for unique/generic-->
	@{
		if (Model.npc.Unique)
		{
			<input id="unique-toggle" type="checkbox" data-toggle="toggle" data-size="small" checked data-onstyle="success" data-offstyle="secondary">
		}
		else
		{
			<input id="unique-toggle" type="checkbox" data-toggle="toggle" data-size="small" unchecked data-onstyle="success" data-offstyle="secondary">
		}
	}
</div>


<!-- Skills -->
<div class="container">
	<div class="row">
		<div class="col base-skills" id="base-skills">
			@foreach (var s in Model.npc.Skills!)
			{
				string skillText = s.Name! + " ";
				for (int i = 1; i <= 6; i++)
				{
					skillText += s.Value >= i ? "☒" : "☐";
				}

				<button id="@s.Name!.Replace(" ", "-").ToLower()" class="btn skill-button base-skill">@skillText</button>
			}
		</div>
	</div>
</div>

<input id="npc-id" type="hidden" value="@Model.npc.Id" />



@section Scripts {
	<script src="/js/NPCDetails.js"></script>
	<script>
		$(function () {
			$('input[type="checkbox"]').bootstrapToggle({
				on: 'Unique',
				off: 'Generic',
				style: 'ios' // You can choose different styles here
			});
		});
	</script>
	<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
}

<link rel="stylesheet" href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css">
<link rel="stylesheet" href="/css/NPCDetails.css" />
